<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "C:\Users\CBS\git\sb_002\mybatis-3-mapper .dtd" >
<mapper namespace="dz.ibnrochd.master14.mapper.TraitementMapper" >
    <resultMap id="ResultMap" type="dz.ibnrochd.master14.model.Traitement" >
        <id column="id" property="id"  />
        <result column="nom" property="nom" />
        
    </resultMap>
    
    <select id="afficherAllTraitement" resultMap="ResultMap">
        SELECT * FROM cabinet.traitement
    </select>
    
	
	<select id="lireTraitement" resultMap="ResultMap">
        SELECT * FROM cabinet.traitement
        WHERE id = #{id}
    </select>

	
	 <insert id="creertraitement" parameterType="dz.ibnrochd.master14.model.Traitement" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO cabinet.traitement(nom)
	    VALUES (#{nom})
    </insert>
		
		<update id="miseajourtraitemntt" parameterType="dz.ibnrochd.master14.model.Traitement">
	    UPDATE cabinet.traitement
		SET nom=#{nom}
		WHERE id = #{id}
    </update>
		
	
		<delete id="supprimertraitement" parameterType="java.lang.Integer">
	    DELETE FROM cabinet.traitement
		WHERE id = #{id}
    </delete>
	
    
</mapper>